<h1>Candidates ({{dataSource.data.length}})</h1>

<mat-form-field *ngIf="!!dataSource.data.length;">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter candidates">
</mat-form-field>

<div class="results mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort width="100%">
    <!-- url -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Url</th>
      <td mat-cell *matCellDef="let candidate"><a target="_blank" href="https://{{candidate.url}}">{{candidate.url}}</a></td>
    </ng-container>
    <!-- qualification -->
    <ng-container matColumnDef="qualification">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualification</th>
      <td mat-cell *matCellDef="let candidate"><span [class]="candidate.qualification | lowercase">{{candidate.qualification | titlecase}}</span></td>
    </ng-container>
    <!-- rank -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rank</th>
      <td mat-cell *matCellDef="let candidate">{{candidate.rank}}</td>
    </ng-container>
    <!-- evaluatedAt -->
    <ng-container matColumnDef="evaluatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Evaluated at</th>
      <td mat-cell *matCellDef="let candidate">{{candidate.evaluatedAt | utcDateTime | date}}</td>
    </ng-container>
    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th width="120px" mat-header-cell *matHeaderCellDef>Actions </th>
      <td mat-cell *matCellDef="let candidate">
        <button mat-stroked-button (click)="onReevaluate(candidate)">
          <i class="material-icons">autorenew</i>
          Re-evaluate
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator [pageSize]="10" [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons></mat-paginator>

</div>

<div *ngIf="!dataSource.data.length;">No candidates evaluated yet.</div>
