<div id="app">
  <app-navigation></app-navigation>
  <div id="page-content">
    <router-outlet></router-outlet>
  </div>
  <footer>
    Simple Spring 5 + Angular 6 reactive demo &copy;forysiak.com
  </footer>
</div>

