@import 'assets/style/variables/variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background-color: $color-blue-light;
  font-family: "Fira Sans", sans-serif;
  color: $color-blue-dark;
  min-height: 100vh;
}

p {
  margin: 0;
  line-height: 1.5em;
}
footer {
  opacity: .45;
  font-size: 12px;
  text-align: center;
  padding: 2em 0;
}

h1 {
  font-size: 18px;
  font-weight: 100;
  margin: 0 0 1.5em 0;
}
#page-content {
  background: $color-white;
}

a {
  color: $color-blue-dark;
  &:visited {
    color: rgba($color-blue-dark, .75)
  }
}

.positive {
  color: $color-green-medium;
}

.negative {
  color: $color-red-medium;
}

.invalid {
  color: $color-blue-light;
}



