@import '../../../assets/style/variables/variables';

nav {
  display: flex;
  justify-content: center;
  padding: 1em;
  a {
    color: $color-blue-dark;
    text-decoration: none;
    transition: all .35s;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
    i {
      padding-bottom: .5em;
      transition: all .15s;
    }
    &:hover,
    &.active {
      i {
        color: $color-white;
      }
    }
  }
}
