<nav>
  <a routerLinkActive="active" routerLink="/candidates">
    <i class="material-icons">business</i>
    Candidates
  </a>
  <a routerLinkActive="active" routerLink="/tasks">
    <i class="material-icons">assignment_turned_in</i>
    Tasks
  </a>
</nav>
